/* This page handles the styling for the page*/

/* Central body of the page that contains the rest of the visuals*/
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

/* Whole header section */
header {
    position: relative;
    display: flex;
    background-color: #6336d5;
    color: #ffffff;
    width: 100%;
    padding: 30px;
}

/* Container for the dropdown object*/
.dropdown {
    width: 50%;
    padding: 0% 4% 0% 4%;
    display: inline-block;
}

/* Dropdown box */
.dropdownButton {
    background-color: #ffffff;
    color: #6336d5;
    width: 100px;
    border: outset;
    cursor: pointer;
}

/*Locations for each dropdown */
.style {
    width: 20%;
}

.language {
    width: 20%;
}

/* Box around the dropdown items */
.dropdownContent {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 100px;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdownContent a {
    color: #000000;
    text-decoration: none;
    text-align: center;
    display: block;
}

/* Shows the dropdown menu when user hovers over the dropdown button */
.dropdown:hover .dropdownContent {
    display: block;
}

/* Hover effects on the original dropdown box*/
.dropdown:hover .dropdownButton {
    background-color: #6336d5;
    color: #ffffff;
}

/* Hover effects on the boxes of dropdown links */
.dropdownContent a:hover {
    background-color: #f1f1f1;
}

/* Link to the CS page */
#cs {
    color: #6336d5;
}

/* General styling for content boxes within body */
section {
    width: 80%;
    text-align: center;
}

/* General styling for paragraphs of info */
p {
    text-align: left;
    text-indent: 30px;
}

